{% extends "base.html" %}
{% block title %}Network Details{% endblock %}
{% block content %}
<h1>Network Details!</h1>
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ network.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ network.name }}</td>
        </tr>
        <tr>
            <td>Driver</td>
            <td>{{ network.attrs['Driver'] }}</td>
        </tr>
        <tr>
            <td>Scope</td>
            <td>{{ network.attrs['Scope'] }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
